{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags%}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<section class="hero is-link">
    <div class="hero-body ">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <h1 class="title">{{ page.title }}</h1>
                    <p class="meta">{{ page.date }}</p>
                </div>
            </div>
        </div>
    </div>
</section> 

<section class="hero">
    <div class="hero-body ">
        <div class="container">
            {% for block in page.contents %}
                {% if block.block_type == 'heading' %}
                    <h2 class="title">{{ block.value }}</h2>
                {% elif block.block_type == 'paragraph'%}
                    <div class="block">
                        <p>{{ block.value }}</p>
                    </div>
                {% else %}
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                {% endif %}
            {% endfor %}

            {% comment %} {{ page.contents }} {% endcomment %}
        </div>
    </div>
</section>          

{% with tags=page.tags.all %}
{% if tags %}
    <div class="columns">
        <div class="column is-8 is-offset-2">
            {% for tag in tags %}
            <a class="button" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endwith %}

<hr>
<div class="columns">
<div class="column is-8 is-offset-2 has-text-centered">
    <p><a href="{{ page.get_parent.url }}">Regresar a Research</a></p>
</div>
</div>
{% endblock %}