{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

{% comment %} Cabecera intro {% endcomment %}
<section class="hero is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ page.title }}
            </h1>
            <h2 class="subtitle">
                {{ page.intro|richtext }}
            </h2>
        </div>
    </div>
</section>


{% comment %} Hagase el loop {% endcomment %}

{% for post in researchpages %}
    {% with post=post.specific %}

        <section class="hero">
            <div class="hero-body pb-1">
                <div class="container">

                    <div class="columns">
                        <div class="column is-10 ">
                            <div class="content is-medium">
                                <h3 class="subtitle is-6">{{ post.date}}</h3>
                                <h2 class="title is-2"><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                                <div class="is-divider"></div>
                                <p class="subtitle is-6">{{ post.abstract}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-10 ">
                            {% if post.project_url %}
                                    <a class="button" href="{{ post.project_url }}">Project</a>
                            {% endif %}
                            {% if post.paper_url %}
                                    <a class="button" href="{{ post.paper_url }}">Paper</a>
                            {% endif %}
                            {% if post.code_url %}
                                    <a class="button" href="{{ post.code_url }}">Code</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="is-divider"></div>
                </div>
            </div>
        </section>

    {% endwith %}
{% endfor %}
{% endblock %}